main{
    text-align: center;

}
.kk{
    margin-left: 17rem;
}
.D1{
    background-color: #D9D9D9;
    width: 1005px;
    height: fit-content;
    left: 137px;
    top: 356px;
    border-radius: 30px;
}