main{
    text-align: center;

}

.top{
    margin-left: 17rem;
}

#documentos {
    font-size: 40px !important;
    
}

.center{
display: flex;
justify-content: center;
}

.i1{
background-color: #B6CCD4;
border: none;
border-radius: 2rem;
width: 300px;
height: 60px;

}

img{
    opacity: .42;
    position: absolute;
    left: 310px;
    top: 175px;


}

.arrow{
    opacity: 1 !important;
    position: absolute;
    left: 25px;
    top: 29px;
  

}

.b{
    background-color: #D9C5B2;
    width: 170px;
    text-align: right;
    border-radius: 30px;
    opacity: .6;
    padding-right: 2.3rem;
}

.b2{
    background-color: #D9C5B2;
    width: 500px;
    text-align: right;
    border-radius: 30px;
    opacity: .6;
    padding-right: 2.3rem;
}

.b span{
    font-size: 1rem;
}

.D1{
    background-color: #D9D9D9;
    width: 1005px;
    height: fit-content;
    left: 137px;
    top: 356px;
    border-radius: 30px;


    padding: 1rem !important;
    padding-top: 1.3rem !important;
    padding-left: 2.2rem !important;
    margin: auto;
    width: 60%;
    border:none;
    padding: 10px;

    text-align: left;


}

.i2{
    background-color: #B6CCD4;
    border: none;
    border-radius: 2rem;
    width: 150px;
    height: 60px;

}



span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

p{

    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color:#000000;

}

@font-face {
    font-family: Inter;
    src: url(./Inter/Inter-VariableFont_slnt\,wght.ttf);
}